@model Question

<h1>Ask a thought-out question to the programming community</h1>


@section Head {
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}

<div class="content-section ml-auto mr-auto mt-3">
    @using (Html.BeginForm("QuestionCreate", "Post", FormMethod.Post, new { @autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Title, "Title")
            @Html.LabelFor(m => m.Title, "Make sure your title is concise and specific.")
            @Html.TextBoxFor(m => m.Title, "", new { @class = "form-control form-control-lg", 
                @type = "text", @placeholder = "Title" 
            })
        </div>

        // TODO: read bm on adding quill js in asp.net
        <div class="form-group">
            @Html.LabelFor(m => m.Content, "Content")
            @Html.LabelFor(m => m.Content, "Elaborate on your title here and what you wanted your code to do.")
            <div id="editor" class="form-control"></div>
        </div>

        // TODO: add textbox and setup tagify inside that
        <div class="form-group">
            <label for="TagQuery">Tags</label>
            <label for="TagQuery">Categorize your question by adding up to 5 tags.</label>
            <input class="dropdown-item" name="tagify" id="TagQuery" autofocus>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-outline-info" value="Submit Question" />
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>
    <script>
        var quill = new Quill('#editor', {
          modules: {
            toolbar: [
              [{ header: [1, 2, false] }],
              ['bold', 'italic', 'underline'],
              ['image', 'code-block']
            ]
          },
          theme: 'snow'
        });

        var tagInput = document.getElementById('input[name=tagify]');

        // initialize Tagify for tag input
        new Tagify(tagInput);
    </script>
}
