﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "All Questions";
}

@model WebApplication5.ViewModels.Home.HomeViewModel

<div class="row align-items-start">
    <div class="d-flex justify-content-between">
        <h1>@Model.QuestionsTitle</h1>
        <div class="ml-2 mt-auto mb-auto">
            @Html.Partial("~/Views/Shared/AskQuestion.cshtml")
        </div>
    </div>
    
    <div class="row align-items-start">
        <div class="col">
          Sort by Newest
        </div>
        <div class="col">
          Sort by Unanswered
        </div>
        <div class="col">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @Html.ActionLink("No answers", "Index", "Home", htmlAttributes: new { @class="dropdown-item" }, routeValues: new { filter="NoAnswers" })
                @Html.ActionLink("No accepted answers", "Index", "Home", htmlAttributes: new { @class="dropdown-item" }, routeValues: new { filter="NoAcceptedAnswers" })
                <li>
                    <br />
                    <p class="dropdown-item-text">Tags</p>
                    @using (Html.BeginForm("IndexFilterByTag", "Home", FormMethod.Get))
                    {
                        <input class="dropdown-item" name="tagify" id="TagQuery" autofocus>
                    }
                </li>
            </ul>
        </div>
    </div>

    <div class="col-7 mr-2">
        @{
            foreach (var question in Model.Questions)
            {
                <div class="media">
                    <div class="d-flex flex-column">
                        <div class="p-2">@question.ViewCount Views</div>
                        <div class="p-2">@question.VoteCount Votes</div>
                    </div>
                    <div class="media-body">
                        <h4 class="mt-0">@question.Title</h4>
                        @question.TruncatedContent
                        <div class="d-flex justify-content-around prevent-overflow">
                            @foreach (var tag in @question.tags)
                            {
                                <span class="badge bg-blue">@tag</span>
                            }
                        </div>
                    </div>
                </div>
            }
        }

        @Html.PagedListPager(Model.Questions, page => Url.Action("Index", "Home", new { page = page }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = false,
            ContainerDivClasses = new [] { "navigation" },
            LiElementClasses = new string[] { "page-item" }, 
            PageClasses = new string[] { "page-link" } 
        })
    </div>

    <div class="col-3">
        <h1>Random Tags</h1>
        <ul class="list-unstyled">
            @foreach (var tag in Model.RandomTags)
            {
                <li class="badge rounded-pill bg-blue">
                    @tag
                </li>
            }
        </ul>
    </div>
</div>


@section Scripts 
{
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

    <script>
        var tagInput = document.getElementById('input[name=tagify]');

        // initialize Tagify for tag filter
        new Tagify(tagInput);
    </script>
}
