﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "All Questions";
}

@model WebApplication5.ViewModels.Home.HomeViewModel

<div class="row align-items-start">
    <div class="d-flex justify-content-between">
        <h1>All Questions</h1>
        <div class="ml-2 mt-auto mb-auto">
            @Html.Partial("~/Views/Shared/_AskQuestion.cshtml")
        </div>
    </div>
    
    <div class="row align-items-start">
        <div class="col">
            <a asp-controller="Home" asp-action="Index" asp-route-sortBy="Newest">Sort by Newest</a>
        </div>
        <div class="col">
            <a asp-controller="Home" asp-action="Index" asp-route-sortBy="Unanswered">Sort by Unanswered</a>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        @Html.ActionLink("No answers", "Index", "Home", htmlAttributes: new { @class="dropdown-item" }, routeValues: new { filter="NoAnswers" })
                    </li>
                    <li>
                        @Html.ActionLink("No accepted answers", "Index", "Home", htmlAttributes: new { @class="dropdown-item" }, routeValues: new { filter="NoAcceptedAnswers" })
                    </li>
                    <li>
                        <div class="dropdown-item">
                            <br />
                            <p class="dropdown-item-text">Tags</p>
                            @using (Html.BeginForm("IndexFilterByTag", "Home", FormMethod.Get))
                            {
                                <input name="tagify" id="TagQuery" autofocus>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-7 mr-2">
        @{
            
            foreach (var question in Model.Questions)
            {
                <div class="media">
                    <div class="d-flex flex-column">
                        <div class="p-2">@question.ViewCount Views</div>
                        <div class="p-2">@question.VoteCount Votes</div>
                    </div>
                    <div class="media-body">
                        <h4 class="mt-0">@question.</h4>
                        <p class="text-muted">@question.TruncatedContent</p>
                        <div class="d-flex justify-content-around prevent-overflow">
                            @foreach (var tag in @question.Tags)
                            {
                                <span class="badge bg-blue">@tag</span>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        
        @Html.PagedListPager(Model.Questions, page => Url.Action("Index", "Home", new { pageNumber = page }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = false,
            ContainerDivClasses = new [] { "navigation" },
            LiElementClasses = new string[] { "page-item" }, 
            PageClasses = new string[] { "page-link" } 
        })
    </div>

    <div class="col-3">
        <h1>Random Tags</h1>
        <ul class="list-unstyled">
            @foreach (var tag in Model.RandomTags)
            {
                <li class="badge rounded-pill bg-blue">
                    @tag
                </li>
            }
        </ul>
    </div>
</div>


@section Scripts 
{
    @*
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    *@

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>

    <script>
        var tagInput = document.getElementById('input[name=tagify]');

        // initialize Tagify for tag filter
        new Tagify(tagInput);
    </script>
}
