@using WebApplication5.ViewModels.QuestionAndAnswer
@model QuestionUpdateViewModel


@section Head {
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}


<h1 class="title is-1 mt-2">Edit your question</h1>

<div class="content-section box ml-auto mr-auto mt-1">
    <form id="form" asp-controller="Question" asp-action="QuestionUpdate" onsubmit="handleQuestionSubmit()">
        @Html.AntiForgeryToken()

        <div class="field">
            <label class="label" for="title">Title</label>
            <div class="control">
                <input class="input" type="text" placeholder="Title" value="@Model.OriginalQuestion.Title" asp-for="@Model.Title" />
            </div>
        </div>

        <div class="field">
            <label class="label">Content</label>
            <div class="control">
                <div id="editor" class="content">@Html.Raw(Model.OriginalQuestion.Content)</div>
                <input type="hidden" id="quill-question-content" asp-for="@Model.Content" />
                <input type="hidden" id="quill-question-truncated-content" asp-for="@Model.TruncatedContent" />
            </div>
        </div>

        <div class="field">
            <label for="TagQuery" class="label">Tags</label>

            <div class="control">
                <div class="select is-multiple">
                    <select multiple size="5" id="tags-input" data-placeholder="Choose up to 5 tags" asp-for="@Model.Tags">
                        @foreach (var tag in Model.AllTags)
                        {
                            <option value="@tag">@tag</option>
                        }
                    </select>
                </div>
            </div>
            <input type="hidden" asp-for="@Model.OriginalQuestionId" value="@Model.OriginalQuestionId" />
            @* <input type="hidden" id="tags" asp-for="@Model.Tags" /> *@
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" name="submit" class="button is-link" value="Submit Question" />
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        var questionQuill = initDefaultQuill('#editor');

        function handleQuestionSubmit() {
            document.getElementById('quill-question-content').value = JSON.stringify(questionQuill.getContents());
            document.getElementById('quill-question-truncated-content').value = questionQuill.getText().slice(0, 167) + "...";
            document.getElementById('tags').value = JSON.stringify(tagify.value);
        }
    </script>
}
