@using WebApplication5.ViewModels.QuestionAndAnswer
@model QuestionCreateViewModel


@section Head {
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}


@section OutsideContainer {
    <section class="hero is-link">
        <div class="hero-body">
            <p class="title">
                Ask a thought-out question to the programming community
            </p>
            <p class="subtitle">
                Question form
            </p>
        </div>
    </section>
    <h1 class="title is-1"></h1>
}

<div class="content-section box ml-auto mr-auto mt-3">
    <form id="form" asp-controller="Question" asp-action="QuestionCreate" onsubmit="handleQuestionSubmit()">
        @Html.AntiForgeryToken()

        <div class="field">
            <label class="label" for="title">Title</label>
            <p>Make sure your title is concise and specific.</p>
            <div class="control">
                <input class="input" type="text" placeholder="Title" asp-for="@Model.Title"/>
            </div>
        </div>

        <div class="field">
            <label class="label">Content</label>
            <p>Elaborate on your title here and what you wanted your code to do.</p>
            <div class="control">
                <div id="editor" class="content"></div>
                <input type="hidden" id="quill-question-content" asp-for="@Model.Content" />
                <input type="hidden" id="quill-question-truncated-content" asp-for="@Model.TruncatedContent" />
            </div>
        </div>

        <div class="field">
            <label for="TagQuery" class="label">Tags</label>
            <p>Categorize your question by adding up to 5 tags.</p>

            <div class="control">
                <div class="select is-multiple">
                    <select multiple size="5" id="tags-input" data-placeholder="Choose up to 5 tags" asp-for="@Model.Tags">
                        @foreach (var tag in Model.AllTags)
                        {
                            <option value="@tag">@tag</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="notification is-warning " role="alert">
                @Html.ValidationSummary()
            </div>
        }

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" name="submit" class="button is-link" value="Submit Question" />
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        var newQuestionQuill = initDefaultQuill('#editor');

        function handleQuestionSubmit() {
            document.getElementById('quill-question-content').value = JSON.stringify(newQuestionQuill.getContents());

            let cleanedText = slicePostContent(newQuestionQuill.getText());
            document.getElementById('quill-question-truncated-content').value = cleanedText + '...';
            //document.getElementById('tags').value = JSON.stringify(tagify.value);
        }

        
    </script>
}
