@model Profile


<div class="row">
    <div class="col-6" id="tabs">
        <ul>
            <li><a href="#q-tabs">Questions</a></li>
            <li><a href="#a-tabs">Answers</a></li>
        </ul>

        <div id="q-tabs">
            @{
                foreach (var question in Model.Questions)
                {
                    <div class="media">
                        <div class="d-flex flex-column">
                            <div class="p-2">@question.ViewCount Views</div>
                            <div class="p-2">@question.VoteCount Votes</div>
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">@question.Title</h5>
                            <p class="text-muted">@question.TruncatedContent</p>
                            <div class="d-flex justify-content-between prevent-overflow">
                                @foreach (var tag in @question.Tags)
                                {
                                    <div class="badge bg-blue">@tag</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div id="a-tabs">
            @{
                foreach (var answer in Model.Answers)
                {
                    <div class="media">
                        <div class="d-flex flex-column">
                            <div class="p-2">@answer.VoteCount Votes</div>
                            @if (answer.IsAccepted)
                            {
                                <div class="p-2">This answer was accepted.</div>
                            }
                        </div>
                        <div class="media-body">
                            <p class="text-muted">@answer.TruncatedContent</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="@Model.PicturePath" alt="Profile Picture">
            <div class="card-body">
                <div class="d-flex">
                    <h5 class="card-title">@Model.Name</h5>
                    <h6 class="card-title text-muted">@Model.Email</h6>
                    @if ((bool)ViewData["IsAuthenticated"])
                    {
                        <a class="btn btn-dark" asp-area="" asp-controller="User" asp-action="Update">Update</a>
                        <button type="button" class="btn btn-outline-dark btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    }
                </div>
                
                <p class="card-text">@Model.Bio</p>
                <p class="card-text"><small class="text-muted">@Model..ToString()</small></p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        $(function() {
            $("#tabs").tabs();
        });
    </script>
}