@model WebApplication5.ViewModels.User.RegisterViewModel


<div class="content-section box ml-auto mr-auto mt-6 is-justify-content-center" style="width: 50%">
    <h1 class="title is-3">Join the community</h1>
    <form asp-controller="Profile" asp-action="Register">
        @Html.AntiForgeryToken()

        <div class="field">
            <label class="label" for="Username">Username</label>
            <div class="control">
                <input class="input" type="text" name="Username" asp-for="Name" />
            </div>
            <div class="alert alert-warning" role="alert">
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
                <input class="input" type="text" name="email" asp-for="Email" />
            </div>
            <div class="alert alert-warning" role="alert">
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="field">
            <label class="label" for="Password">Password</label>
            <div class="control">
                <input class="input" type="text" name="Password" asp-for="Password" />
            </div>
            <div class="alert alert-warning" role="alert">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="field">
            <label class="label" for="confirm-password">Confirm Password</label>
            <div class="control">
                <input class="input" type="text" name="confirm-password" asp-for="ConfirmPassword" />
            </div>
            <div class="alert alert-warning" role="alert">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" name="submit" class="button is-link" value="Sign up" />
            </div>
        </div>
    </form>

    <small class="text-muted">
        Already have an account? @Html.ActionLink("Sign in here", "Login", "Profile", htmlAttributes: new { @class="ml-2" })
    </small>
</div>
